# Nuxt / Node
node_modules
.nuxt
.output
.data
dist
.env
.env.*
!.env.example

# Logs
*.log
.pnpm-debug.log*

# Editor
.DS_Store
.vscode/*
!.vscode/settings.json
.idea

# Drizzle (keep migrations, ignore generated artifacts dir we don't need)
drizzle/.snapshot

# Tests
coverage
/docs
*.pdf
!tests/fixtures/*.pdf
